//
// mybrary_web
// --------------------------------------------------

@zindex-app-loading-backdrop:       2000;
@app-loading-backdrop-bg:           #000;
@app-loading-backdrop-opacity:      0.5;

.app-loading-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-app-loading-backdrop;
    background-color: @app-loading-backdrop-bg;
    opacity: @app-loading-backdrop-opacity;
    
    &.active {
        display: block;
    }
    
    .app-loading-content {
        display:block;
        position: absolute;
        top: 50%;
        left: 25%;
        margin-top: -64px;
        width: 50%;
        height: 128px;
        background-image: url(../images/ajax-loader.gif);
        background-position: top center;
        background-repeat:no-repeat;
        background-color: transparent;
        overflow:hidden;
        padding-top: 64px;
        text-align: center;
        
        &>span {
            font-size: 1em;
            color: white;
        }
    }
}

@app-icon-width:       64px;
@app-icon-height:       64px;

.app-icon {
    &.app-icon-avatar {
        width: @app-icon-width;
        height: @app-icon-height;
    }
    
    &.app-icon-avatar-small {
        width: (@app-icon-width * 0.5);
        height: (@app-icon-height * 0.5);
    }
    
    &.app-icon-avatar-tiny {
        width: (@app-icon-width * 0.25);
        height: (@app-icon-height * 0.25);
    }
}

.app-text {
    &.app-text-small {
        font-size: 80%;
    }

    &.app-text-tiny {
        font-size: 60%;
    }
    
    &.app-text-strong {
        font-weight: 600;
    }
}