@font-face {
  font-family: 'The-Sans-Bold-Regular';
  /* src: url('../fonts/TheSans-Bold-Plain-webfont.eot'); */
  src: url('../fonts/TheSans-Bold-Plain-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TheSans-Bold-Plain-webfont.woff2') format('woff2'), url('../fonts/TheSans-Bold-Plain-webfont.woff') format('woff'), url('../fonts/TheSans-Bold-Plain-webfont.ttf') format('truetype'), url('../fonts/TheSans-Bold-Plain-webfont.svg#the_sans_bold-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'The-Sans-Semi-Bold-Regular';
  /* src: url('../fonts/TheSans-SemiBold-Plain-webfont.eot'); */
  src: url('../fonts/TheSans-SemiBold-Plain-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TheSans-SemiBold-Plain-webfont.woff2') format('woff2'), url('../fonts/TheSans-SemiBold-Plain-webfont.woff') format('woff'), url('../fonts/TheSans-SemiBold-Plain-webfont.ttf') format('truetype'), url('../fonts/TheSans-SemiBold-Plain-webfont.svg#the_sans_semi_bold-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro-Regular';
  src: url('../fonts/ChaparralPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ChaparralPro-Regular.otf') format('opentype'), url('../fonts/ChaparralPro-Regular.woff') format('woff'), url('../fonts/ChaparralPro-Regular.ttf') format('truetype'), url('../fonts/ChaparralPro-Regular.svg#ChaparralPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro-Bold';
  src: url('../fonts/ChaparralPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ChaparralPro-Bold.otf') format('opentype'), url('../fonts/ChaparralPro-Bold.woff') format('woff'), url('../fonts/ChaparralPro-Bold.ttf') format('truetype'), url('../fonts/ChaparralPro-Bold.svg#ChaparralPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro-BoldIt';
  src: url('../fonts/ChaparralPro-BoldIt.eot?#iefix') format('embedded-opentype'), url('../fonts/ChaparralPro-BoldIt.otf') format('opentype'), url('../fonts/ChaparralPro-BoldIt.woff') format('woff'), url('../fonts/ChaparralPro-BoldIt.ttf') format('truetype'), url('../fonts/ChaparralPro-BoldIt.svg#ChaparralPro-BoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro-Italic';
  src: url('../fonts/ChaparralPro-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/ChaparralPro-Italic.otf') format('opentype'), url('../fonts/ChaparralPro-Italic.woff') format('woff'), url('../fonts/ChaparralPro-Italic.ttf') format('truetype'), url('../fonts/ChaparralPro-Italic.svg#ChaparralPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
.clear {
  clear: both;
}
